*{
    box-sizing: border-box;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 10px;
}

button{
    padding: 5px 10px 5px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border-radius: 2px;
    border: none;
}