* {
    text-align: center;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box {
    height: 200px;
    width: 200px;
    border: 1px solid red;
  }
  #box1 {
    background-color: gray;
  }
  #box2 {
    background-color: red;
  }
  #box3 {
    background-color: blue;
  }
  #box4 {
    background-color: yellow;
  }